* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: black;
}

.mainContainer {
  display: flex;
  justify-content: center;
}

.gridContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 6fr 1fr;
  max-width: 1800px;
}

.innerContainer {
  grid-column: 2 / 3;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: max(30px, min(3.5vw, 63px)); /* 1800px(max-width) * 3.5vw(%) / 100% = 63px */
  margin: max(20px, min(2vw, 36px)) 0vw;
  color: white;
}

.setSelectorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: max(20px, min(3vw, 54px));
  color: white;
}

.setSelectLabel {
  font-size: max(12px, min(1vw, 18px));
  margin-right: max(12px, min(1vw, 18px));
}

.setSelector {
  font-size: max(12px, min(0.9vw, 16.2px));
  text-align-last: center;
  border-radius: 5px;
  background-color: white;
}

option {
  background-color: white;
}

.cardColumnsContainer {
  display: grid;
  grid-template-rows: auto, auto;
  grid-template-columns: repeat(5, max(20%));
}

.cardBlockContainer {
  display: grid;
  grid-template-rows: auto, auto;
}

.sectionLabel {
  display: flex;
  justify-content: center;
  font-size: max(12px, min(2vw, 36px));
  color: white;
  margin: max(20px, min(4vw, 72px)) 0vw max(10px, min(2vw, 36px)) 0vw;
}

.cardBlock {
  display: grid;
  grid-template-columns: repeat(5, max(20%))
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: auto;
  width: 100%;
  aspect-ratio: 12 / 17;
  object-fit: cover;
}

.card:hover {
  cursor: pointer;
}

.scrollButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: max(20px, min(4vw, 72px)) 0vw;
}

.scrollButton {
  all: initial;
  box-sizing: border-box;
  background-color: white;
  font-family: Arial;
  font-size: max(12px, min(1vw, 18px));
  padding: max(7px, min(0.6vw, 10.8px)) max(14px, min(1.5vw, 27px));
  border-radius: max(5px, min(0.6vw, 10.8px));
}

.scrollButton:hover {
  cursor: pointer;
  box-sizing: border-box;
  color: black;
  background-color: lightblue;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.modalContainer {
  display: block;
  outline: 0;
  background-color: transparent;
}

.modalInnerContainer {
  display: block;
  max-width: 50vw;
  background-color: transparent;
}

.modalSingleContainer {
  display: flex;
  justify-content: center;
}

.SingleFacedCard {
  max-height: 85vh;
  max-width: 85vw;
}

.modalDoubleContainer {
  display: flex;
  justify-content: center;
}

.DoubleFacedCard {
  max-height: 85vh;
  max-width: 45vw;
}

.cardModalPrice {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.cardPrice {
  width: 80%;
  color: black;
  font-size: min(1.5vw, 27px); /* 1800px(max-width) * 1.5vw(%) / 100% = 27px*/
  background-color: white;
  text-decoration: none;
  border-bottom-left-radius: min(3vw, 54px);
  border-bottom-right-radius: min(3vw, 54px);
  line-height: min(2.5vw, 45px);
  height: min(2.5vw, 45px);
}

.cardPrice:hover {
  background-color: lightskyblue;
}

/* for phones */
@media only screen and (max-width: 500px) {
  .setSelectorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: max(20px, min(3vw, 54px));
    color: white;
  }

  .modalInnerContainer {
    display: block;
    background-color: transparent;
  }

  .modalDoubleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 85vh;
  }

  .DoubleFacedCard {
    max-height: 42.5vh;
    max-width: 90vw;
  }
}