* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.mainContainer {
  display: grid;
  background-color: black;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: center;
  min-width: 680px;
}

.siteHeader {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  color: white;
  margin: 2vw 0vw;
}

.setSelectorContainer {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 3vw;
}

.setSelectLabel {
  font-size: 18px;
  margin-right: 10px;
}

.setSelector {
  font-size: 16px;
  height: 25px;
  border-radius: 5px;
}

.innerCardContainer {
  grid-column: 2 / 3;
}

.cardColumnsContainer {
  display: grid;
  grid-template-rows: auto, auto;
  grid-template-columns: repeat(5, max(20%));
}

.cardBlockContainer {
  display: grid;
  grid-template-rows: auto, auto;
}

.sectionLabel {
  display: flex;
  justify-content: center;
  font-size: 1.75vw;
  color: white;
  margin: 4vw 0vw 2vw 0vw;
}

.cardBlock {
  display: grid;
  grid-template-columns: repeat(5, max(20%))
}

.cardImage {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.cardImage:hover {
  cursor: pointer;
}

.scrollButtonContainer {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vw 0vw;
}

.scrollButton {
  all: initial;
  box-sizing: border-box;
  background-color: white;
  font-family: Arial;
  font-size: 1vw;
  padding: 0.6vw 1.5vw;
  border-radius: 0.6vw;
}

.scrollButton:hover {
  cursor: pointer;
  box-sizing: border-box;
  color: black;
  background-color: lightblue;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.modalContainer {
  display: block;
  outline: 0;
  background-color: transparent;
}

.modalInnerContainer {
  display: block;
  max-width: 50vw;
  background-color: transparent;
}

.modalCardContainer {
  display: flex;
  justify-content: center;
}

.card {
  max-height: 85vh;
  max-width: 50vw;
}

.cardModalPrice {
  display: flex;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.cardPrice {
  width: 80%;
  color: black;
  font-size: 1.5vw;
  background-color: white;
  text-decoration: none;
  border-bottom-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
  line-height: 2.5vw;
  height: 2.5vw;
}

.cardPrice:hover {
  background-color: lightskyblue;
}