* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: black;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.siteHeader {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  color: white;
  margin: 2vw 0vw;
}

.setSelectorContainer {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 3vw;
}

.setSelectLabel {
  font-size: 0.9vw;
  margin-right: 0.8vw;
}

.setSelector {
  background-color: white;
}

.innerCardContainer {
  grid-column: 2 / 3;
}

.cardColumnsContainer {
  display: grid;
  grid-template-rows: auto, auto;
  grid-template-columns: repeat(5, max(20%));
}

.cardBlockContainer {
  display: grid;
  grid-template-rows: auto, auto;
}

.sectionLabel {
  display: flex;
  justify-content: center;
  font-size: 1.75vw;
  color: white;
  margin: 4vw 0vw 2vw 0vw;
}

.cardBlock {
  display: grid;
  grid-template-columns: repeat(5, max(20%))
}

.cardImage {
  width: 100%;
  object-fit: cover;
}

.cardImage:hover {
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.cardModalContainer {
  justify-content: center;
  align-items: center;
  outline: 0;
}

.cardModalPrice {
  text-align: center;
  outline: 0;

}

.cardPrice {
  color: black;
  font-size: 25px;
  background-color: white;
  text-decoration: none;
  display: block;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  height: 1.5em;
}

.cardPrice:hover {
  background-color: lightskyblue;
}

.scrollButtonContainer {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vw 0vw;
}

.scrollButton {
  all: initial;
  box-sizing: border-box;
  background-color: white;
  font-family: Arial;
  font-size: 1vw;
  padding: 0.6vw 1.5vw;
  border-radius: 0.6vw;
}

.scrollButton:hover {
  box-sizing: border-box;
  cursor: pointer;
  background-color: lightblue;
  color: black;
}